// url para cambiar el fondo de la pagina a traves del ion content
ion-content{
    --background: #fff url('../../assets/samus.png') no-repeat center center / cover;
}
//scss para ajustar la imagen al centro y en tamaño de 100 pixeles
ion-img {
    height:100px;
    width: 100px;
    display:block;
    margin:auto;
}