// url para cambiar el fondo de la pagina a traves del ion content
ion-content{
    --background: #fff url('https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/samus.jpg?alt=media&token=9b6eb625-146c-4cae-8468-05a2baf263e0') no-repeat center center / cover;
}
//scss para ajustar la imagen al centro y en tamaño de 100 pixeles
ion-img {
    height:100px;
    width: 100px;
    display:block;
    margin:auto;
}