<ion-header>
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Init Game</ion-title>
       
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Starcraft</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br><br><br><br><br><br><br><br><br><br>
    <ion-grid>
        <ion-col></ion-col>
          <ion-col>
            <!--pequeña reseña acerca dej juego.-->>
              <ion-card-title style="font-weight: bold; font-size: 30px; color: white;">Starcraft</ion-card-title>
              <ion-card style="background:black; color:rgb(255, 255, 255);">
                  Starcraft es un videojuego de estrategia en tiempo real de ciencia ficción militar,
                  desarrollador por Blizzard Entertainment, lanzado al mercado el 31 de marzo de 1998.
                  Ambientada en el siglo XXVI, el juego gira en torno a tres especies que luchan por el
                  dominio en una parte de la galaxia Via Lactea, conocido como el Sector Koprulu. Los Terran,
                  los humanos exiliados de la tierra y hábiles en adaptarse a cualquier situacion; los Zerg, 
                  una raza de insectoides alienígenas en busca de la perfección genética, obsesionada con la 
                  asimilación de otras razas, y los Protoss, una especie humanoide con tecnología avanzada y 
                  habilidades psiónicas, tratando de preservar su civilización y también de manera estricta 
                  su filosofía de vida de los mismos Zerg. 
              
                </ion-card>
          </ion-col>
        
      </ion-grid>
  
  <ion-radio-group [(ngModel)]="perso">
      <ion-label style="font-weight: bold; font-size: 20px; color: white; background: black;">
        Personajes de StarCraft
      </ion-label>
      <ion-list>
        <ion-item >
          <ion-label>Sara Kerrigan</ion-label>
          <ion-radio color="primary"  name="perso" value="Soy Kerrigan"></ion-radio>
         
        </ion-item>
        <ion-item >
            <ion-label>Jim Raynor</ion-label>
            <ion-radio color="primary" name="perso" value="Soy Raynor"></ion-radio>
          </ion-item>
          <ion-item >
        <ion-label>Prelado Zeratul</ion-label>
          <ion-radio color="primary" name="perso" value="Soy Zeratul"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>
    <ion-item>
      <ion-label>Ver seleccion</ion-label>
      <ion-toggle [(ngModel)]="boton" (click)="verSeleccion()"></ion-toggle><br>
    </ion-item>
    <ion-button expand="full" color=light (click)="paginas()"style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>
