ion-content{
    --background: #fff url('https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/fondoSC.jpg?alt=media&token=27c4ef02-21fa-4279-9a40-bacd35d1b7ab') no-repeat center center / cover;
}
ion-img {
    height:100px;
    width: 100px;
    display:block;
    margin:auto;
}