<ion-header>
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
            
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card"  style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Init Game</ion-title>
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Monetizacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img class="full-image" src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/moneas.jpg?alt=media&token=3df8b80f-439f-4b86-ab59-304e297d23bf"></ion-img>
        <ion-card-header>
          <ion-card-title style="font-weight: bold; font-size: 15x; color: white; text-align: justify; ">Estamos trabajando para usted</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="font-weight: bold; font-size: 12x; color: white; text-align: justify; ">
           La idea de esta pagina es para que el cliente pueda seleccionar 
            el juego y ser redirigido a la pagina de ventas del proveedor, 
            aparte de la monetizacion por publicidad, usaremos este otro tipo de monetizacion
            la cual se gana a traves de conseguir clientes para las empresas.
        </ion-card-content>
      </ion-card>
<ion-img src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/trabajando.gif?alt=media&token=2043998a-a3ef-4acf-87ef-0f7a28b712b8"></ion-img>

  <ion-button expand="full" fill="outline" (click)="tabs()">Volver</ion-button>
</ion-content>
