<ion-header>
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
            
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card"  style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Init Game</ion-title>
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Comprar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>

<p style="font-weight: bold; font-size: 12x; color: white; text-align: justify; ">Estamos trabajando para usted</p>

<br>
<ion-img src="/assets/icon/trabajando.gif"></ion-img>

  <ion-button expand="full" fill="outline" (click)="tabs()">Volver</ion-button>
</ion-content>
