// url para cambiar el fondo de la pagina
ion-content{
    --background: #fff url('../../assets/fondo.jpg') no-repeat center center / cover;
}
//scss para ajustar la imagen al centro y en tamaño de 100 pixeles
ion-img {
  height:200px;
  width: 200px;
  display:block;
  margin:auto;
}