<ion-header>
  <ion-toolbar style="color:rgb(0, 0, 0);">
    <ion-buttons slot="start">
      <ion-button (click)="paginas()">
        <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="pagame()">
        <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="tabs()">
        <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Init Game</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Samus Aran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card style="background: rgb(0, 0, 0)">
      <ion-card-title style="font-weight: bold; font-size: 30px; color: white;">La caza recompensas Samus</ion-card-title>
      <p style="font-weight: bold; font-size: 12x; color: white; text-align: justify;">
          Samus Arana se presenta como una ex soldado de la Federación Galáctica que se convirtió en una cazarrecompensas. 
          Generalmente equipada con un exoesqueleto de potencia, —denominado “Traje de Poder” (Power Suit en inglés)—,
           el cual está equipado con diferentes armas de energía, misiles, u otro material de apoyo. A lo largo de la 
           serie, realiza diversas misiones que la Federación Galáctica le encomienda mientras caza a los piratas 
           espaciales y su líder Ridley, junto con los organismos parásitos que drenan la energía de los seres vivos 
           llamados Metroids.</p>
    </ion-card>
    <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="/assets/parasamus.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  <ion-button expand="full" color=light (click)="edgardhenriquez()"
    style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>