<ion-header>
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
            
        </ion-buttons>
        <ion-title>Init Game</ion-title>
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Monstros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of students">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
          <ion-img src=""></ion-img>
        <ion-card-title>{{item.Nombre}} </ion-card-title>
        <ion-card-subtitle>Precio:${{item.Precio}}</ion-card-subtitle>
        <ion-card-subtitle>Plataforma: {{item.Plata}}</ion-card-subtitle>
      </ion-card-header>

    </span>
  </ion-card>

</ion-content>