<ion-header>
  <!-- toolbar -->
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card"  style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Init Game</ion-title>
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Mejor Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la pagina de seleccion, cada boton te lleva a una pagina con informacion de los juegos en lista -->
    <ion-button expand="full"  color=dark (click)="esteban()" style="text-align: justify; font-weight: bold; font-size: 15px;  ">Cartola de Juegos</ion-button>
    <ion-button expand="full"  color=dark (click)="catalina()" style="text-align: justify; font-weight: bold; font-size: 15px; ">Starcraft</ion-button>
    <ion-button expand="full" color=dark (click)="edgard()" style="text-align: justify; font-weight: bold; font-size: 15px; ">Metroid</ion-button>
    <ion-button expand="full" color=dark (click)="harol()" style="text-align: justify; font-weight: bold; font-size: 15px; ">Warcratf III: Reforged</ion-button>
<br>
<!-- volver -->
  <ion-button expand="full" color=light (click)="tabs()"style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>
