<ion-header>
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Init Game</ion-title>
       
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Monster Hunter: World</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/mhw.jpg?alt=media&token=0ae04a8e-365a-446d-bebb-3a3e95a91795"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Combate contra monstruos gigantescos en escenarios épicos.</ion-card-subtitle>
      <ion-card-title>PRESENTACIÓN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          Tu tarea es aceptar misiones de caza de monstruos en una gran variedad de hábitats.
          Abátelos y recibe materiales que podrás utilizar para crear armas y armaduras más poderosas con las que enfrentarte a monstruos aún más peligrosos.
          
          Monster Hunter: World es la última entrega de la serie.
          En ella podrás disfrutar de la mejor experiencia de juego, utilizando todos los recursos a tu alcance para acechar monstruos en un nuevo mundo rebosante de emociones y sorpresas.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/mhw2.png?alt=media&token=d7fdc861-cb0c-4b0a-9608-ab66378950a1"></ion-img>
      <ion-card-header>
        <ion-card-title>HISTORIA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
            Cada década, los dragones ancianos cruzan el mar hasta el continente conocido como el Nuevo Mundo, en un fenómeno conocido como la migración de los Ancianos.

            Para llegar hasta el fondo de este fenómeno misterioso, el gremio ha creado la comisión de investigación y la ha enviado en grandes flotas hacia el Nuevo Mundo.
            
            Ha llegado el momento de que la 5.ª flota zarpe siguiendo a Zorah Magdaros, un dragón anciano de proporciones gigantescas.
            En dicha flota, un cazador está a punto de embarcarse en el viaje más grande que jamás haya podido imaginar.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" color=light (click)="paginas()" style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>
