<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(99, 94, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card" style="color:rgb(88, 94, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
            <ion-icon slot="icon-only" name="home" style="color:rgb(88, 94, 4)"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Orcos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-card>
          
          <ion-img width="100%" src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/HORDA.png?alt=media&token=6ae0c870-ccaf-4e86-8211-295ce95be094"></ion-img>
       
        <ion-card-content style="color:rgb(218, 217, 204)">

        La Horda, una confederación de orcos, trols y tauren, 
        se define por su fuerza bruta y su poder chamánico.
      </ion-card>
      </ion-grid>



    <ion-button expand="full" color=#a2a4ab (click)="Harolds()"
    style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>
