<ion-header>
  <ion-toolbar style="color:rgb(0, 0, 0);">
    <ion-buttons slot="start">
      <ion-button (click)="paginas()">
        <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="pagame()">
        <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="tabs()">
        <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Init Game</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Titutlos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <ion-card style="background: rgb(0, 0, 0)">
      <ion-card-title style="font-weight: bold; font-size: 30px; color: white;">La historia en los juegos</ion-card-title>
      <p style="font-weight: arial; font-size: 12x; color: white; text-align: justify;">
          0- Metroid/Metroid: Zero Mission (Nintendo Entertainment System, 1986/Game Boy Advance, 2004).<br><br>
          1- Metroid Prime/Metroid Prime Pinball (Nintendo GameCube, 2002 - Wii, 2009/Nintendo DS, 2005).<br><br>
          2- Metroid Prime Hunters (Nintendo DS, 2006).<br><br>
          3- Metroid Prime 2: Echoes (Nintendo GameCube, 2004 - Wii, 2009).<br><br>
          4- Metroid Prime 3: Corruption (Wii, 2007-2009).<br><br>
          5- Metroid Prime: Federation Force (Nintendo 3DS, 2016).<br><br>
          6- Metroid Prime 4 (Nintendo Switch, en desarrollo).<br><br>
          7- Metroid II: Return of Samus/Metroid: Samus Returns (Game Boy, 1991/Nintendo 3DS, 2017).<br><br>
          8- Super Metroid (Super Nintendo, 1994).<br><br>
          9- Metroid: Other M (Wii, 2010).<br><br>
          10- Metroid Fusion (Game Boy Advance, 2002).</p>
    </ion-card>

    <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="/assets/2r5t5dd.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  <ion-button expand="full" color=light (click)="edgardhenriquez()"
    style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>