ion-content{
    --background: #fff url('https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/zerosuit.jpg?alt=media&token=da62fea0-3b34-4774-b952-d38b97f27524') no-repeat center center / cover;
}
ion-img {
    height:100px;
    width: 300px;
    display:block;
    margin:auto;
}