<ion-header>
  <ion-toolbar style="color:rgb(0, 0, 0);">
    <ion-buttons slot="start">
      <ion-button (click)="paginas()">
        <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="pagame()">
        <ion-icon slot="icon-only" name="card" (click)="pagame()" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Init Game</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>
      Que es Init Game?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/icon/control.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--Informacion-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 style="text-align: justify; font-weight: bold; font-size: 15px; color:white;"> Init games, una plataforma
          informativa de videojuegos, en ella podras
          informarte de los ultimos juegos y de las nuevas tendencias</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
 <!--Radion button con opciones-->
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Escoge tu genero de videojuego</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Accion</ion-label>
        <ion-radio slot="start" value="Accion" checked [(ngModel)]="accion1" (click)="accion()"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Arcade</ion-label>
        <ion-radio slot="start" value="Arcade" [(ngModel)]="arcade" (click)="arcade()"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Estrategia</ion-label>
        <ion-radio slot="start" value="Estrategia" [(ngModel)]="estrategia1" (click)="estrategia()"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Deporte</ion-label>
        <ion-radio slot="start" value="Deporte" [(ngModel)]="deporte1" (click)="deporte()"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Simulacion</ion-label>
        <ion-radio slot="start" value="Simulacion" [(ngModel)]="simulacion1" (click)="simulacion()"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>RPG</ion-label>
        <ion-radio slot="start" value="RPG" [(ngModel)]="rpg1" (click)="rpg()"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Peleas</ion-label>
        <ion-radio slot="start" value="Peleas" [(ngModel)]="peleas1"  (click)="peleas()"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>