ion-content{
    --background: #fff url('https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/fondo.jpg?alt=media&token=e8f138c7-a804-4ea3-851d-ae4fcb3d3f82') no-repeat center center / cover;
}
ion-img {
  height:100px;
  width: 100px;
  display:block;
  margin:auto;
}
