<ion-header>
  <ion-toolbar style="color:rgb(0, 0, 0);">
    <ion-buttons slot="start">
      <ion-button (click)="paginas()">
        <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="pagame()">
        <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
      <ion-button (click)="tabs()">
        <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Init Game</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Federacion Galactica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background: rgb(0, 0, 0)">
      <ion-card-title style="font-weight: bold; font-size: 30px; color: white;">Federacion Galactica</ion-card-title>
      <p style="font-weight: bold; font-size: 12x; color: white; text-align: justify;">
        Se formó en el año 2003 del Calendario Cósmico, cuando los representantes y delegados de muchos mundos civilizados 
        se reunieron y establecieron el congreso intergaláctico conocido como Federación Galáctica, formada por valientes 
        caballeros de muchas especies inteligentes como se puede ver en el manga, debido a que en los videojuegos sólo se ven 
        humanos en la Federación. <br>
          Sin embargo, los Piratas Espaciales (gobernados por el Mando) aparecieron y se convirtieron en los enemigos 
          jurados de la Federación, asaltando muchas de sus naves y planetas, y casi siempre matando a toda la población 
          civil. Para combatir esta nueva amenaza, la Oficina Federal fundó la Policía Federal, una fuerza de élite que 
          hizo valientes esfuerzos contra los piratas; también con un muy bien capacitado equipo de científicos que desarrollan
           diferentes tecnologías e investigaciones para ella.</p>
    </ion-card> 
  <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/Insignia_federal_presente.png?alt=media&token=52c477d2-dbd3-44e7-9b6d-4e7047e588bf"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/GFtrooper_trio.png?alt=media&token=09acbd4e-cbd7-4925-b3fa-2822df5c29d9"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  <ion-button expand="full" color=light (click)="edgardhenriquez()"
    style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>