ion-content{
    --background: #fff url('https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/nave.jpg?alt=media&token=65597692-49ab-48fa-ab00-3dbd9af42955') no-repeat center center / cover;
}
ion-img {
    height:200px;
    width: 200px;
    display:block;
    margin:auto;
}