ion-content{
    --background: #fff url('https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/samusaran.png?alt=media&token=35e3b9f9-4bae-4f20-86e5-e520a117836e') no-repeat center center / cover;
}
ion-img {
    height:300px;
    width: 300px;
    display:block;
    margin:auto;
}