<ion-header>
    <ion-toolbar style="color:rgb(0, 0, 0);">
        <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card" style="color:rgb(88, 4, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
              <ion-icon slot="icon-only" name="home" style="color:rgb(88, 4, 4)"></ion-icon>
            </ion-button>
            
            
        </ion-buttons>
        <ion-title>Init Game</ion-title>
      </ion-toolbar>
  <ion-toolbar>
    <ion-title>Bienvenido al Crud</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
 
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          Welcome
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
         {{userEmail}}
        </ion-col>
      </ion-row>
    </ion-grid>
    
  <ion-grid fixed>
      <ion-row>
          <ion-col text-center>
          Agregar Juegos 
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Nombre" [(ngModel)]="juegosNombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder=" Precio" [(ngModel)]="juegosPrecio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Plataforma" [(ngModel)]="juegosPlata"></ion-input>
          </ion-item>
        </ion-col>        
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-input placeholder="URL Imagene" [(ngModel)]="juegosURL"></ion-input>
            </ion-item>
          </ion-col>        
        </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="CreateRecord()" [disabled]="!juegosNombre || !juegosPrecio || !juegosPlata || !juegosURL">
            <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
            &nbsp;Create Record
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
    <ion-card *ngFor="let item of students">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
            <ion-img src="{{item.URL}}"></ion-img>
          <ion-card-title>{{item.Nombre}} </ion-card-title>
          <ion-card-subtitle>Precio:${{item.Precio}}</ion-card-subtitle>
          <ion-card-subtitle>Plataforma: {{item.Plata}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
  
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
  
          </ion-button>
          <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
  
          </ion-button>
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Edit
                </ion-col>
                <ion-col>
                  <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                    Cancel
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                    Update
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label><strong>Nombre</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditNombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><strong>Precio</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditPrecio"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><strong>Plataforma</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditPlata"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label><strong>URL Imagene</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.EditURL"></ion-input>
            </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
    
    
  </ion-content>
  <ion-footer (click)="logout()">
    <ion-toolbar color="secondary">
      <ion-title>Log out</ion-title>
    </ion-toolbar>
  </ion-footer>