<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="paginas()">
            <ion-icon slot="icon-only" name="bug" style="color:rgb(99, 94, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="pagame()">
            <ion-icon slot="icon-only" name="card" style="color:rgb(88, 94, 4)"></ion-icon>
          </ion-button>
          <ion-button (click)="tabs()">
            <ion-icon slot="icon-only" name="home" style="color:rgb(88, 94, 4)"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Elfos de la Noche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-card>
          
          <ion-img width="100%" src="https://firebasestorage.googleapis.com/v0/b/eva1-24441.appspot.com/o/NELF.png?alt=media&token=5b62ee54-11f9-4acf-8808-be6fae641719"></ion-img>
       
        <ion-card-content style="color:rgb(218, 217, 204)">


  Los elfos de la noche de Kalimdor destacan por su movilidad,
  el ataque a distancia y los hechizos. Aunque carecen de la fuerza bruta de otras razas,
  su pericia con el arco y la magia lo compensan.
</ion-card>    

</ion-grid>

    <ion-button expand="full" color=#a2a4ab (click)="Harolds()"
    style="text-align: justify; font-weight: bold; font-size: 15px; color:green;">Volver</ion-button>
</ion-content>
